body {
    font-family: "Lato", sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: #302B35;
  }
  
  .navbar{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .nav-sessions{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
  }

  .nav-sessions p{
    color: azure;
    font-size: 20px;
    padding: 0px;
    margin: 0px;
  }

  .nav-sessions button{
      background-color: black;
      color: #818181;
      font-size: larger;
      border: none;
      padding-left: 10px;
  }

  .nav-sessions button:hover{
    color: whitesmoke;
}

  .nav-sessions button:focus{
    outline: none;
}



  .sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .openbtn {
    font-size: 25px;
    cursor: pointer;
    background-color: #111;
    color: white;
    border: none;
  }
  
  .openbtn:focus {
    outline: none;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }