.homeimage{
    width:100%;
    height:400px;
    margin-bottom:3px;
}

@media screen and (max-width:450px) {
    .homeimage{
        height:350px;
    }
}

.home-card{
    display: flex;
    flex-direction: column;
    align-items:center;
    background-color:#E4E4E4;
    height: 350px;
    margin: 3px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius:2px ;
    box-shadow: 4px 4px 20px black;
    transition-duration: 700ms;
}

.home-card:hover{
    transform: scale(1.01);
}

.home-card img{
    width: 300px;
    height: 200px;
}

.home-card h2{
    margin-top: 14px;
    padding: 6px;
}

.home-card p{
    opacity: 0.7;
}


.home-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-top:20px;
    padding-bottom: 20px;

}